@model IEnumerable<MvcApplication2.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{ 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paperback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
        <th>Actions</th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paperback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        { 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        }
    </tr>
}

</table>
